
.main
{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  /* background-color: red; */
}

.inner1
{
  margin-bottom: 20px;
}
.inner2
{
  margin-bottom: 20px;
}